<section class="card_sml">
    <header>
        <a href="/article.php#{{ head.name }}">
            <img src="{{body.img}}" alt="Image of flower">
        </a>
    </header>
    <article>
        <h1>{{body.titleshort}}</h1>
        <span title="Recommended retail price">
            <h4 class="card_sml_price">{{body.price}},-</h4>
        </span>
        <p>{{body.short}}</p>
    </article>
    <footer>
        <a href="/article.php#{{ head.name }}">Read More</a>
    </footer>
</section>